<% provide(:title, 'Top') %>
<div class="main">
  <div class="top-container">
    <div class="info">
      <div class="avatar">
        <%= image_tag 'default_avatar.png' %>
      </div>
      <div class="introduction">
        <div class="introduction-title">
          <p>自己紹介</p>
        </div>
        <div class="introduction-text-nil">
          <p>ログインして、自己紹介文と画像を登録しましょう！</p>
        </div>
      </div>
    </div>
    <div class="chart">
      <div class="chart-title">
        <p>スキルチャート</p>
      </div>
      <div class="chart-image">
        <%= image_tag 'sample_chart.png' %>
      </div>
    </div>
  </div>
</div>
