@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

/* SET UP */
body {
  font-family: 'Roboto', sans-serif;
}

.wrapper a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

/* HEADER */
.header {
  background-color: #1B5678;
  height: 120px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.header-container {
  display: flex;
  text-align: center;
  padding: 40px 40px 0;
}

.header-container>div:last-of-type{
  margin-left: auto;
}

.header-button {
  margin-top: 10px;
  a {
    text-decoration: none;
  }
}

.logo a {
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
}

/* BODY */
.wrapper {
  min-height: 100vh;
  position: relative;
  padding: 200px 0 40px;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.alert {
  text-align: center;
  margin: -40px auto 60px;
  width: 90%;
}

/* FORMS */
input, textarea, select, .uneditable-input {
  border: 1px solid #808080;
  width: 100%;
  box-sizing: border-box;
}

input {
  height: auto !important;
}

label {
  display: inline-block;
  margin: 32px 0 10px;
  color: #808080;
  font-weight: 400;
}

.form-control {
  padding: 8px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px 0 #EAEAEA;
}

.explain {
  color: #808080;
  font-size: 12px;
  margin-top: 10px;
}

/* BUTTON */
.center-button {
  text-align: center;
  margin-top: 48px;
}

.button {
  border-radius: 4px;
  text-align: center;
  width: fit-content;
  a {
    text-decoration: none;
    pointer-events: none;
  }
}

.nomal {
  background-color: #1B5678;
  color: #FFF;
  padding: 16px 40px;
  &:hover {
    color: #FFF;
  }
}

.session {
  background-color: #FFF;
  color: #1B5678;
  padding: 13px 40px;
}

.save {
  border: 1px solid #1B5678;
  color: #1B5678;
  padding: 10px 16px;
  background-color: #FFF;
}

.delete {
  background-color: #EE6969;
  color: #FFF;
  padding: 9px 16px;
  &:hover {
    color: #FFF;
  }
}

/* TOP PAGE */
.info {
  display: flex;
}

.avatar img{
  border-radius: 50%;
  width: 360px; 
  height: 360px;
}

.introduction {
  margin-left: 80px;
}

.introduction-title {
  border-bottom: 2px solid #C0C0C0;
  font-size: 36px;
  font-weight: bold;
  width: 240px;
  padding-bottom: 16px;
  color: #525252;
}

.introduction-text {
  margin: 32px 0 48px;
  color: #525252;
  line-height: 150%;
}

.introduction-text-nil {
  color: #FF0000;
  margin: 32px 0;
}

.chart {
  margin-bottom: 80px;
  text-align: center;
}

.chart-title {
  margin: 120px auto 48px;
  border-bottom: 2px solid #C0C0C0;
  font-size: 36px;
  font-weight: bold;
  width: 400px;
  padding-bottom: 16px;
  color: #525252;
}

.chart-image {
  margin: 80px;
}

/* SKILL PAGE */
.card {
  border: 1px solid #C0C0C0;
  border-radius: 8px;
  margin: 0 auto 40px;
  width: 960px;
}

.card-bottom {
  height: 40px;
}

.card-top {
  display: flex;
  margin: 40px 40px 32px 40px;
  align-items: flex-end
}

.card-top>a:last-of-type{
  margin-left: auto;
}

.card-title {
  border-bottom: 2px solid #C0C0C0;
  width: 240px;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 16px;
  color: #525252;
}

table {
  border: 1px #E2E2E2 solid;
  border-collapse: separate;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 #E2E2E2;
  font-weight: 400;
  margin: 40px 40px;
  width: 880px;
}

th {
  height: 72px;
  padding: 8px 0;
}

td {
  color: #525252;
  border-top: 1px #E2E2E2 solid;
  border-bottom: 1px #E2E2E2 solid;
  height: 72px;
  padding: 26px 0 26px 40px;
}

tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

/* NEW PAGE */
.title {
  color: #525252;
  text-align: center;
  font-size: 36px;
  margin-bottom: 32px;
}

/* FOOTER */
.footer {
  background-color: #1B5678;
  height: 40px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.footer-container {
  color: #FFF;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
