<footer class="footer">
  <div class="footer-container">
    <% if logged_in? %>
      <p><%= current_user.name %>'s portfolio site</p>
    <% else %>
      <p>user name’s portfolio site</p>
    <% end %>
  </div>
</footer>
