<header class="header">
  <div class="header-container">
    <div class="logo">
      <% if logged_in? %>
        <%= link_to "My Portfolio", user_path(current_user) %>
      <% else %>
        <%= link_to "My Portfolio", root_path %>
      <% end %>
    </div>
    <div class="header-button">
      <% if logged_in? %>
        <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } ,class: "session button" %>
    <% else %>
        <%= link_to "ログイン", login_path, class: "session button" %>
    <% end %>
    </div>
  </div>
</header>
